/*
Include the standard variables from Mailspring's base theme:
https://github.com/Foundry376/Mailspring/blob/master/app/static/style/base/ui-variables.less
*/
@import "base/ui-variables";

@gray-base: #fff;
@gray-darker: darken(@gray-base, 13.5%);
@gray-dark: darken(@gray-base, 20%);
@gray: darken(@gray-base, 33.5%);
@gray-light: darken(@gray-base, 46.7%);
@gray-lighter: darken(@gray-base, 92.5%);
@white: #acb0d0;

@accent-primary: #7da6ff;
@accent-primary-dark: darken(@accent-primary, 10%);

@background-primary: #1a1b26;
@background-off-primary: #1a1b26;
@background-secondary: #32344a;
@background-tertiary: #24283b;

@border-color-primary: lighten(@background-primary, 10%);
@border-color-secondary: lighten(@background-secondary, 10%);
@border-color-tertiary: lighten(@background-tertiary, 10%);
@border-color-divider: @border-color-secondary;

@text-color: #fff;
@text-color-subtle: fadeout(@text-color, 20%);
@text-color-very-subtle: fadeout(@text-color, 40%);
@text-color-inverse: white;
@text-color-inverse-subtle: fadeout(@text-color-inverse, 20%);
@text-color-inverse-very-subtle: fadeout(@text-color-inverse, 50%);
@text-color-heading: #fff;

@text-color-link: @accent-primary;
@text-color-link-hover: @accent-primary-dark;
@text-color-link-active: @accent-primary-dark;

@btn-default-bg-color: lighten(@background-primary, 5%);
@dropdown-default-bg-color: #1a1b26;

@input-bg: #444b6a;
@input-border: @border-color-divider;

@list-bg: #32344a;
@list-border: #ad8ee6;
@list-selected-color: @text-color-inverse;
@list-focused-color: @text-color;

@toolbar-background-color: #1a1b26;
@panel-background-color: #11121a;
